input {
	font-family: 'Barlow', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	box-shadow: none !important;
	border: none !important;
	border-bottom: 1px grey solid !important;
	border-radius: 0% !important;
}

 select {
	box-shadow: none !important;
	border: none !important;
	border-bottom: 1px grey solid !important;
	border-radius: 0% !important;
 }

a {
	color: #998751e7;
}

a:hover {
	color: #7a6c41e7;
}

#logo {
	margin-top: 8px; 
	padding-right: 20px; 
	border-right: 3px grey solid;
}

#logout-btn {
	margin-top: 10px; 
	margin-left: 20px;
}

#headerTitle {
	font-family: 'Montserrat', sans-serif; 
	color: black;  
	font-weight: 700;
}

#headerSubtitle {
	font-family: 'Noto Sans', sans-serif; 
	color: black;  
	margin-top: -5px;
	margin-bottom: 5px; 
	letter-spacing: 0.1em;
}

#submit {
	background-color: white;
	border-color: black;
	font-family: 'Barlow', sans-serif;
	color: black;
	letter-spacing: 0.05em;
}

#submit:hover {
	background-color: #d1d1d1;
}

.form_label {
	font-family: 'Barlow', sans-serif;
	color: black;
	letter-spacing: 0.05em;
}


.nav-btn-text {
	font-family: 'Montserrat', sans-serif; 
	color: black; 
	font-size: 15px; 
	letter-spacing: 0.1em;
}

.grey-label {
	font-family: 'Barlow', sans-serif;
	color: #ada9a8;
	letter-spacing: 0.1em
}

.form-floating.required .form-floating>label:after {
	content:"*";
	color:rgb(92, 28, 28);
  }


.btn-flat {
	background-color: white;
	border-color: black;
	font-family: 'Barlow', sans-serif;
	color: black;
	letter-spacing: 0.05em;
}

.btn-flat:hover {
	background-color: black;
	border-color: black;
	font-family: 'Barlow', sans-serif;
	color: white;
	letter-spacing: 0.05em;
}

.btn-flat-black:hover {
	background-color: white;
	border-color: black;
	font-family: 'Barlow', sans-serif;
	color: black;
	letter-spacing: 0.05em;
}

.btn-flat-black {
	background-color: black;
	border-color: black;
	font-family: 'Barlow', sans-serif;
	color: white;
	letter-spacing: 0.05em;
}

.form-label {
	font-family: 'Noto Sans', sans-serif; 
	color: black; 
	font-size: 14px; 
	letter-spacing: 0.1em;
}

.form-control-static {
	font-family: 'Barlow', sans-serif; 
	color: black; 
	font-size: 16px;
}

.page-item.active .page-link {
	background-color: black;
	border-color: black;
}

.action-header {
	font-family: 'Montserrat', sans-serif; 
	color: black; 
	font-size: 20px; 
	font-weight: 700;
	margin-left: 10px;
}

#modalHeader {
	font-family: 'Montserrat', sans-serif; 
	color: black; 
	font-weight: 700;
}

#modalSubtitle {
	font-family: 'Noto Sans', sans-serif; 
	color: black;  
	margin-top: -5px;
	margin-bottom: 5px; 
	letter-spacing: 0.1em;
}

#camera_container canvas.drawingBuffer {
	display: none;
}

.modal {
  text-align: center;
}

.delete-warning {
	font-family: 'Noto Sans', sans-serif; 
	color: black;
}

.page-link {
	font-family: 'Barlow', sans-serif;
	color: black;
}

.page-link:hover {
	background-color: rgb(223, 223, 223);
	color: black;
}

#logo-text {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	color: black;
	font-size: 1.2em;  
	letter-spacing: 0.1em;
}

.nav-item {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	font-size: .9em;
}


.btn-xs {
	font-size: 11px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 0;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.no-gutter > [class*="col-"] {
	padding-right: 0;
	padding-left: 5px;
  }

select {
	border: none;
	outline: 0px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    /* white-space: nowrap; */
    margin-top: 10px;
    margin-bottom: 10px; 
}

.strike > span {
    position: relative;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1em; 
    color: #ada9a8;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #ada9a8;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
