
<div class="card" style="margin-bottom: 1em; width: 50vw;">
	<div class="card-body"> 
		<div class="row justify-content-end">

			<div style="border-left: 3px black solid; padding-left: 15px;">
				<div class="row ml-2 align-items-center">
					<div class="col-lg-2">
						<img width="100px" src="{{ book.cover }}">
					</div>
	
					<div class="col-lg-7">
						<div id="bookTitle"> {{ book.full_title.upper() }} </div>
						<div id="bookAuthor">by: 
							<span style="font-weight: bold;">
								{% for author in list_authors(book.authors, as_list=True) %}
										{{ author }}{% if not loop.last %},{% endif %}
								{% endfor %}
							</span>
						</div>
						<div id="bookInfo">{{ book.pages }} pages | {% if book.publish_date %}{{ book.publish_date.year }}{% else %}NO DATE OF PUBLICATION{% endif %}</div>
						<div id="bookCategory">{{ book.book_category.name }}</div>
									
					</div>
					<div class="col-lg-3 ">
						<a href="{{ url_for('book_history', book_id=book.id, ascending=True)}}">
							<button type="button" class="btn btn-flat btn-xs" style="margin-top: 15px; color: black;">
								<i class="bi bi-box-arrow-right"></i> VIEW LOAN HISTORY
							</button>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>