
<tr>
	<td class="col-xs-2">
		{% if book.has_available_copy() %}
			<img class="book_status_shelf" width="120px" src="{{ book.cover }}">
		{% else %}
			<img class="book_status_loan" width="120px" src="{{ book.cover }}">
		{% endif %}
	</td>
	<td class="col-lg-9">
		<div id="bookTitle"> {{ book.full_title.upper() }} </div>
		<div id="bookAuthor">by: 
			<span style="font-weight: bold;">
				{% for author in list_authors(book.authors, as_list=True) %}
					<a href="{{ url_for('search_author', author_name=author)}}">{{ author }}</a>
					{% if not loop.last %},{% endif %}
				{% endfor %}
			</span>
		</div>
		<div id="bookInfo">{{ book.pages }} pages | {% if book.publish_date %}{{ book.publish_date.year }}{% else %}NO DATE OF PUBLICATION{% endif %}</div>
		<div id="bookCategory">{{ book.book_category.name }}</div>
		<div id="bookStatus">
			{% with num_shelf, num_loan, num_missing = book.get_statuses() %}
				{% if num_shelf > 0 %}
					{{ num_shelf }} ON SHELF |
				{% endif %}
				{% if num_loan > 0 %}
					{{ num_loan }} ON LOAN |
				{% endif %}
				{% if num_missing > 0 %}
					{{ num_missing }} MISSING |
				{% endif %}
				{% if not current_user.is_anonymous %}
				<button type="button" class="btn btn-flat btn-xs" data-bs-toggle="modal" data-bs-target="#m{{ book.id }}-loan-modal" id="{{ book.id }}-loan-btn">
					<i class="bi bi-box-arrow-right"></i> DETAILS
				</button>
				{% endif %}
			{% endwith %}
		</div>
	</td>
	<td class="col-lg-1">
		{% if not current_user.is_anonymous %}
		<div>
			{% if book.all_copies_available() %}
				<button type="button" class="btn btn-flat-black pull-right" data-bs-toggle="modal" data-bs-target="#m{{ book.id }}-delete-modal" 
					id="b{{ book.id }}-edit-btn" style="margin-bottom: 10px;">
					<i class="bi bi-x-circle"></i>
				</button>
			{% else %}
				<button type="button" disabled class="btn btn-flat-black pull-right" data-bs-toggle="modal" data-bs-target="#m{{ book.id }}-delete-modal" 
					id="b{{ book.id }}-edit-btn" style="margin-bottom: 10px;">
						<i class="bi bi-x-circle"></i>
				</button>
			{% endif %}
		</div>
		<div>
			<a class="btn btn-flat pull-right" href="javascript:populateDefaultFields('#m{{ book.id }}-edit-modal');" id="{{ book.id }}-edit-btn">
				<i class="bi bi-pencil-square"></i>
			</a>
		</div>
		{% endif %}
	</td>
</tr>

<!-- ADD LOAN MODALS HERE -->




