
<div class="modal" id="m{{ book.id }}-delete-modal" tabindex="-1" role="dialog" aria-labelledby="{{ book.id }}-delete-modal">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header justify-content-between">
				<div style="display: block;">
					<div id="modalHeader" class="modal-title">DELETE BOOK FROM COLLECTION</div>
					<div id="modalSubtitle" class="modal-title">DELETE THE FOLLOWING BOOK FROM THE COLLECTION? YOU WON'T BE ABLE TO RETRIEVE THE BOOK AFTER DELETION.</div>
				</div>
				<div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
      		</div>

      		<div class="modal-body">
				<div class="card" style="margin-bottom: 1em">
					<div class="card-body"> 
						<div class="row justify-content-end">
				
							<div>
								<div class="row ml-2 justify-content-center align-items-center">
									<div style="border-left: 3px black solid; padding-left: 15px;" class="col-auto">
										<img width="100px" src="{{ book.cover }}">
									</div>
					
									<div class="col-auto">
										<div id="bookTitle"> {{ book.full_title.upper() }} </div>
										<div id="bookAuthor">by: 
											<span style="font-weight: bold;">
												{% for author in list_authors(book.authors, as_list=True) %}
														{{ author }}{% if not loop.last %},{% endif %}
												{% endfor %}
											</span>
										</div>
										<div id="bookInfo">{{ book.pages }} pages | {{ book.publish_date.year }}</div>
										<div id="bookCategory">{{ book.book_category.name }}</div>
													
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
      		</div>

      		<div class="modal-footer">
					<button type="button" class="btn btn-flat" data-bs-dismiss="modal">Close</button>
	                <button onclick="deleteBook('{{ book.isbn_13 }}')" class="btn btn-flat">Delete</button>
      		</div>
		</div>
	</div>
</div>