
<div class="modal" id="{{ book.id }}-edit-modal" tabindex="-1" role="dialog" aria-labelledby="{{ book.id }}-edit-modal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<div id="modalHeader" class="modal-title">EDIT BOOK INFORMATION</div>
        				<div id="modalSubtitle" class="modal-title">CHANGE THE DESIRED FIELDS IN THE FORM BELOW</div>
      			</div>


      			<form class="form form-horizontal" method="post" action="{{ url_for('edit', book_isbn=book.isbn_13) }}">
      				{{ g.editForm.hidden_tag() }}
      				<div class="modal-body">

      					<div class="row col-xs-offset-2">

	      					<div class="col-lg-3">
	      						<img width="150px" src="{{ book.cover }}">
	      					</div>

	      					<div class="col-lg-9">

		      					<div class="form-group">
		      						<label for="full_title" class="form-label col-sm-2 control-label">Title</label>
		      						<div class="col-sm-6">
				    					{{ g.editForm.full_title(class='form-control', default=book.full_title) }}
				    					{% for error in g.editForm.full_title.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
				    				</div>
		      					</div>

		      					<div class="form-group">
		      						<label for="authors" class="form-label col-sm-2 control-label">Authors</label>
		      						<div class="col-sm-6">
				    					{{ g.editForm.authors(class='form-control', default=list_authors(book.authors)) }}
				    					{% for error in g.editForm.authors.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
				    				</div>
		      					</div>

		      					<div class="form-group">
		      						<label for="pages" class="form-label col-sm-2 control-label">Pages</label>
		      						<div class="col-sm-6">
				    					{{ g.editForm.pages(class='form-control', default=book.pages) }}
				    					{% for error in g.editForm.pages.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
				    				</div>
		      					</div>

		      					<div class="form-group">
		      						<label for="publish_date" class="form-label col-sm-2 control-label">Date of Publication</label>
		      						<div class="col-sm-6">
				    					{{ g.editForm.publish_date(class='form-control', default=book.publish_date.year) }}
				    					{% for error in g.editForm.publish_date.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
				    				</div>
		      					</div>

		      					<div class="form-group">
		      						<label for="category" class="form-label col-sm-2 control-label">Category</label>
		      						<div class="col-sm-6">
				    					{{ g.editForm.category(class='form-control', default=book.book_category.name) }}
				    					{% for error in g.editForm.category.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
				    				</div>
		      					</div>

	      					</div>

      					</div>
      				</div>

      				<div class="modal-footer">
        				<button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
        				<button type=submit class="btn btn-flat">Update</button>
      				</div>

      			</form>

			</div>
		</div>
	</div>