<div class="modal-content">
    <div class="modal-header justify-content-between">
        <div style="display: block;">
            <h2 id="modalHeader" class="modal-title">LOADING...</h2>
            <small id="modalSubtitle" class="modal-title text-muted">Filling out the book information for you...</small>
        </div>
        <div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center align-items-center my-5">
            <div class="col-lg-6 text-center">
                <img src="{{ url_for('static', filename='Book.gif') }}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>