<div class="modal-content" style="width: 60vw;">
    <div class="modal-header justify-content-between">
        <div style="display: block;">
            <div id="modalHeader" class="modal-title">YOU'RE ALMOST THERE...</div>
            <div id="modalSubtitle" class="modal-title">Verify filled fields and enter information for the missing ones</div>
        </div>
        <div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>

      <form class="form form-horizontal" method="post" action="{{ url_for('add_to_collection') }}">
          {{ g.enterForm.hidden_tag() }}
          <div class="modal-body">
            <div class="row g-3 justify-content-evenly align-items-center mb-5">
                <div id="cover_container" class="col-sm-3">
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        {{ g.enterForm.isbn_10(class='form-control') }}
                        {{ g.enterForm.isbn_10.label }}
                        {% for error in g.enterForm.isbn_10.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.isbn_13(class='form-control') }}
                        {{ g.enterForm.isbn_13.label }}
                        {% for error in g.enterForm.isbn_13.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.full_title(class='form-control') }}
                        {{ g.enterForm.full_title.label }}
                        {% for error in g.enterForm.full_title.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.authors(class='form-control') }}
                        {{ g.enterForm.authors.label }}
                        {% for error in g.enterForm.authors.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.pages(class='form-control') }}
                        {{ g.enterForm.pages.label }}
                        {% for error in g.enterForm.pages.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.publish_date(class='form-control') }}
                        {{ g.enterForm.publish_date.label }}
                        {% for error in g.enterForm.publish_date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-floating">
                        {{ g.enterForm.category(class='form-control') }}
                        {{ g.enterForm.category.label }}
                        {% for error in g.enterForm.category.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-flat" data-bs-dismiss="modal">Close</button>
            <button type=submit class="btn btn-flat-black">Add to Collection</button>
          </div>

      </form>

</div>