<div class="modal-content">
    <div class="modal-header">
        <div id="modalHeader" class="modal-title">LOADING...</div>
        <div id="modalSubtitle" class="modal-title">Filling out the book information for you...</div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row" style="margin-top: 5em; margin-bottom: 5em;">
                <div class="col-lg-5 col-lg-offset-4">
                    <img src="{{ url_for('static', filename='Book.gif') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>