
<div class="modal" id="m{{ book.id }}-loan-modal" tabindex="-1" role="dialog" aria-labelledby="{{ book.id }}-loan-modal">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header justify-content-between">
				<div style="display: block;">
					<div id="modalHeader" class="modal-title">LEND BOOK</div>
					<div id="modalSubtitle" class="modal-title">ENTER LOANEE CONTACT INFORMATION AND LENGTH OF LOANING PERIOD BELOW</div>
				</div>
				<div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
      		</div>


			<div class="modal-body">

				{% include '_bookinfo.html' %}

				<form class="form" method="post" action="{{ url_for('loan', book_isbn=book.isbn_13) }}">
					<div class="row g-3 align-items-center mb-5">
						{{ g.editForm.hidden_tag() }}
				
						<div class="form-floating col-auto">
							{{ g.loanForm.phone_num(class="form-control", id=book.id|string + '-phone_num', onkeydown='phoneNumberFormatter(%d)' % book.id, placeholder="") }}
							{{ g.loanForm.phone_num.label }}
							<div class="invalid-feedback">
								Please enter a valid phone number (consisting of numbers).
							</div>						  
						</div>

						<div class="form-floating col-auto">
							{{ g.loanForm.name(class="form-control", placeholder="") }}
							{{ g.loanForm.name.label }}
							<div class="invalid-feedback">
								Please enter a name.
							</div>
						</div>

						<div class="form-floating col-sm-2">
							{{ g.loanForm.loan_duration_length(class="form-control", placeholder="") }}
							{{ g.loanForm.loan_duration_length.label }}
							<div class="invalid-feedback">
								Please enter a number.
							</div>
						</div>

						<div class="form-floating col-sm-3">
							{{ g.loanForm.loan_duration_unit(class="form-control") }}
							{{ g.loanForm.loan_duration_unit.label }}
						</div>

					</div>
					<div class="modal-footer">
						<a class="btn btn-flat" href="javascript:clearModalFields('#m{{ book.id }}-loan-modal');">Close</a>
						<button type=submit class="btn btn-flat-black">Check Out</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>