
<div class="modal" id="m{{ book.id }}-loan-modal" tabindex="-1" role="dialog" aria-labelledby="m{{ book.id }}-loan-modal">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header justify-content-between">
				<div style="display: block;">
					<div id="modalHeader" class="modal-title">LOAN INFORMATION</div>
					<div id="modalSubtitle" class="modal-title">VIEW CONTACT INFORMATION AND EXTEND OR CLOSE CURRENT LOAN.</div>
				</div>
				<div>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
      		</div>
			<div class="modal-body">

				{% include '_bookinfo.html' %}

				<br>

				<form class="form center-block" method="post" action="{{ url_for('extend_loan', book_isbn=book.isbn_13) }}">
					{{ g.loan_extend_form.hidden_tag() }}


					<div class="card mb-3">

						<div class="card-header loan-info-card-header">LOAN INFO</div>
						 <div class="card-body">
							<div class="row g-4 align-items-end justify-content-center mb-3">

								<div class="col-sm-4">
									<div class="loan-info-title">CONTACT <i class="bi bi-telephone-fill"></i></div>
									{% with loan = book.get_current_loan() %}
										<div>
											<a href="{{ url_for('loanee_history', phone_num=loan.phone_num) }}">{{ loan.phone_num }}</a>	
										</div>
							    	{% endwith %}
								</div>

								<div class="col-sm-4">
									<div class="loan-info-title">CONTACT NAME</div>
									{% with loan = book.get_current_loan() %}
										<div>{{ loan.loanee }}</div>
									{% endwith %}
								</div>

								<div class="col-sm-4">
									<div class="loan-info-title">DUE</div>
									{% with loan = book.get_current_loan() %}
										{% if book.is_missing() %}
											<div style="color: #b30000;">{{ loan.in_timestamp.strftime('%Y-%m-%d') }}</div>
										{% else %}
											<div>{{ loan.in_timestamp.strftime('%Y-%m-%d') }}</div>
										{% endif %}
									{% endwith %}
								</div>
							</div>
						</div>
					</div>

					<!-- <hr style="border-color: grey;"/> -->


					<div class="action-header">EXTEND LOAN</div>

					<div class="row g-3 align-items-end justify-content-center mb-3">
						<div class="form-floating col-sm-4">
							{{ g.loan_extend_form.loan_duration_length(class="form-control", placeholder="") }}
							{{ g.loan_extend_form.loan_duration_length.label }}					  
						</div>

						<div class="form-floating col-auto">
							{{ g.loan_extend_form.loan_duration_unit(class="form-control") }}				  
						</div>

						<div class="col-auto">
							<button type=submit class="btn btn-flat btn-sm">Extend</button>
						</div>
					</div>

				</form>

				<div class="strike">
   					<span>OR</span>
   				</div>

				<div class="action-header">RETURN BOOK</div>

				<form class="form" id="f{{ book.id }}-close-form" method="post" action="{{ url_for('close_loan', book_isbn=book.isbn_13) }}">
					{{ g.loan_close_form.hidden_tag() }}
					<div class="row g-3 align-items-end justify-content-center mb-3">
						<div class="col-auto">
							<button type="submit" class="btn btn-flat btn-sm">Return Book and Close Loan</button>
						</div>
					</div>
				</form>

			</div>

			<div class="modal-footer">
				<a class="btn btn-flat" href="javascript:clearModalFields('#m{{ book.id }}-loan-modal');">Close</a>
			</div>

		</div>
	</div>
</div>