{% extends 'bootstrap_base.html' %}
{% from 'bootstrap4/nav.html' import render_nav_item %}
{% from 'bootstrap4/form.html' import render_field %}

{% block head %}
	{{ super() }}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&family=Barlow:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
		<link rel="icon" href="{{ url_for('static', filename="library.png")}}" type="image/x-icon">
{% endblock %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block title %}
	{% if title %}
		{{ title }} - Library 
	{% else %} 
		Welcome to the Library
	{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="container-fluid">
				<div class="container-fluid my-3">
					{% if not current_user.is_anonymous %}
					<a href="{{ url_for('index') }}" class="col-xs-3 navbar-brand mx-5">
						<img id="logo" width="120px" src="{{ url_for('static', filename='FBC_logo_black-book.gif') }}">
						<span id="logo-text" class="mx-2">LIBRARY</span>
					</a>
					{% endif %}
				</div>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 text-nowrap">
					{% if not current_user.is_anonymous %}
						{{ render_nav_item('all_books', 'VIEW COLLECTION') }}
						{{ render_nav_item('enter', 'SCAN BOOKS')}}
						{{ render_nav_item('logout', 'LOG OUT')}}
					{% else %}
						<button class="btn btn-sm" style="border-color: black; font-family: 'Barlow', sans-serif; letter-spacing: 0.1em;">
							{{ render_nav_item('login', 'LOG IN')}}
						</button>
						
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<hr style="border-color: black;"/>
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-9">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
					<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
					  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
					</symbol>
					<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
					  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
					</symbol>
					<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
					  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</symbol>
				</svg>
					{% for category, message in messages %}
						{% if category == 'error' %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
							<strong>Uh oh!</strong>
						{% elif category == 'success' %}
							<div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
							<strong>Success!</strong>
						{% else %}
							<div class="alert alert-info alert-dismissible d-flex align-items-center fade show" role="alert">
							<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
						{% endif %}
							 <span style="padding-left: 15px;"> {{ message }}</span>
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	</div>
	<div class="d-flex justify-content-center min-vh-100" style="margin-bottom: 5em;">
		{% block app_content %}{% endblock %}
		<div id="footer" class="mt-auto" style="background-color: black; height: 100px;">
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="https://unpkg.com/libphonenumber-js@1.x/bundle/libphonenumber-min.js"></script>
	<script>

		function populateDefaultFields(modalElem) {
			$(modalElem).modal('show')
			$(modalElem).find('.form-control').each(function() {
				let defaultVal = $(this)[0].attributes['default'].nodeValue;
				$(this)[0].value = defaultVal
			})
		}

		function clearModalFields(modalElem) {
			$(modalElem).find('.form-control').each(function () {
				$(this)[0].value = ''
			})
			$(modalElem).modal('hide')
		}

		function phoneNumberFormatter() {
			const asYouType = new libphonenumber.AsYouType('US')
			const formattedPhoneNum = asYouType.input($('#phone_num')[0].value)
			$('#phone_num')[0].value = formattedPhoneNum
		}
	</script>
{% endblock %}
