{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
	{{ super() }}
	<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
	<script>
		$(function() {
			$('#lookUpForm').submit(
				function(event) {
					$('#modalContentContainer').html(`{% include '_entermodal_loading.html' %}`)
					$('#enter-modal').modal('show')
					const isbn = $('#isbn').val()
					$.get('/lookup/' + $('#isbn').val()
						).done(function(response) {
							$('#modalContentContainer').html(`<div>{% include '_entermodal_loaded.html' %}</div>`)
							populateFields('#enter-modal', response)
						}).fail(function() {
							$('#modalContentContainer').html(`<div>{% include '_entermodal_loaded.html' %}</div>`)
							$('#modalHeader')[0].innerText = 'SORRY...'
							$('#modalSubtitle')[0].innerText = "We couldn't find information about the book you entered. Either try entering the ISBN again or entering all fields below manually."
						});

					event.preventDefault();
				})

			$('#manual-button').click(
				function(event) {
					$('#modalContentContainer').html(`{% include '_entermodal_loaded.html' %}`)
					let defaultFields = {'number_of_copies': 1, 'cover': ''}
					$('#modalHeader')[0].innerText = 'FILL OUT BOOK INFORMATION'
					$('#modalSubtitle')[0].innerText = "Fill out the fields that you want to keep track of in our system below."
					populateFields('#enter-modal', defaultFields)
					$('#enter-modal').modal('show')
			});

			let _isScannerOn = false;
			const camHeight = $('#barcode_img').height()
			const camWidth = $('#barcode_img').width()
			$('#scannerBtn').click(
				function(event) {
					if (!_isScannerOn) {
						startScanner(camHeight, camWidth);
						_isScannerOn = true;
					} else {
						closeScanner()
						_isScannerOn = false;
					}
				}
			)

			Quagga.onDetected(function (result) {
				const detected = result.codeResult
				if (detected.format === "ean_13" && detected.code.slice(0, 3) === '978') {
					$('#modalContentContainer').html(`{% include '_entermodal_loading.html' %}`)
					$('#enter-modal').modal('show')
					$.get('/lookup/' + result.codeResult.code
					).done(function(response) {
						$('#modalContentContainer').html(`{% include '_entermodal_loaded.html' %}`)
						populateFields('#enter-modal', response)
					}).fail(() => {});
				closeScanner()
				_isScannerOn = false;
				}
			});
		});

		function populateFields(modalElem, data) {
			const modal = $(modalElem)
			let cover_url = "{{ url_for('static', filename='nocover.jpg')}}"
			if (data.cover !== '') {
				cover_url = data['cover']
			}
			data['number_of_copies'] = 1
			modal.find('#cover_container').html(`<img width='200px' src="${cover_url}">`)
			for (const key in data) {
				if (modal.find('#' + key)[0]) {
					modal.find('#' + key)[0].value = data[key];
				}
			}
		}

		function startScanner(height, width) {
			// console.log(height, width)
			$('#camera_container').empty()
			$('#scannerBtn').children()[1].textContent = "CLOSE SCANNER"
			Quagga.init({
				inputStream: {
					name: "Live",
					type: "LiveStream",
					target: document.querySelector('#camera_container'),
					constraints: {
						width: width,
						height: height,
						facingMode: "environment"
					}
				},
				locate: false,
				decoder: {
					readers: [
						"ean_reader",
						"upc_reader"
					]
				},
			}, function(err) {
				if (err) {
					console.log(err);
					return
				}
				Quagga.start();
			});
		}

		function closeScanner() {
			Quagga.stop()
			$('#scannerBtn').children()[1].textContent = "SCAN VIA CAMERA"
			$('#camera_container').html("<img id='barcode_img' class='img-fluid' width='450px' src='{{ url_for('static', filename='isbn_ex.png') }}''>")
		}

	</script>
{% endblock %}


{% block app_content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-10">
			<div style="margin-bottom: 10px;">
				<h2 id="headerTitle">SCAN BOOKS</h2>
				<div id="headerSubtitle">{{ num_books }} ENTER A 10 OR 13 DIGIT ISBN</div>
			</div>
			<div class="row justify-content-center align-items-top">
				<div id="camera_container" class="col-sm-6 text-center">
					<img id="barcode_img" class="img-fluid" width="450px" src="{{ url_for('static', filename='isbn_ex.png') }}">
				</div>
				<div class="col-sm-5 mt-5 text-center">
					<div class="row" style="margin-bottom: 2em; margin-left: auto;">
						<div class="text-center">
							<button id="scannerBtn" class="col-12 btn btn-flat mb-3 row justify-content-between">
								<i class="bi bi-webcam-fill"></i> <span id="scannerBtnText"> SCAN VIA CAMERA</span>
							</button>
						</div>
						
						<div class="strike">
							<span>OR</span>
						</div>
						<form class="form form-horizontal form_label" id="lookUpForm">
			
							<div class="row mb-3 align-items-end">
								<div class="col-9">
									<div class="form-floating">
										{{ g.lookUpForm.isbn(class='form-control') }}
										{{ g.lookUpForm.isbn.label }}
										{% for error in g.lookUpForm.isbn.errors %}
											<span style="color: red;">[{{ error }}]</span>
										{% endfor %}
									</div>
								</div>
								<div class='col-3'>
									<button type=submit class="btn btn-flat btn-sm text-nowrap">Look Up</button>
								</div>
							</div>
						</form>
		
						<div class="strike">
							<span>OR</span>
						</div>
		
						<div class="row justify-content-between my-3">
							<div class="col-4" style="font-family: 'Barlow', sans-serif;
							color: grey;
							letter-spacing: 0.1em;">NO ISBN? </div>
							<button id='manual-button'class="btn btn-flat btn-sm mb-3 col-8 text-nowrap">
								ENTER INFO MANUALLY
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% include '_entermodal.html' %}

{% endblock %}