{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
	{{ super() }}
	<script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
	<script>
		$(function() {
			$('#lookUpForm').submit(
				function(event) {
					$('#modalContentContainer').html(`{% include '_entermodal_loading.html' %}`)
					$('#enter-modal').modal('show')
					const isbn = $('#isbn').val()
					$.get('/lookup/' + $('#isbn').val()
						).done(function(response) {
							$('#modalContentContainer').html(`<div>{% include '_entermodal_loaded.html' %}</div>`)
							populateFields('#enter-modal', response)
						}).fail(function() {
							$('#modalContentContainer').html(`<div>{% include '_entermodal_loaded.html' %}</div>`)
							$('#modalHeader')[0].innerText = 'SORRY...'
							$('#modalSubtitle')[0].innerText = "We couldn't find information about the book you entered. Either try entering the ISBN again or entering all fields below manually."
						});

					event.preventDefault();
				})

			$('#manual-button').click(
				function(event) {
					$('#modalContentContainer').html(`{% include '_entermodal_loaded.html' %}`)
					let defaultFields = {'number_of_copies': 1, 'cover': ''}
					$('#modalHeader')[0].innerText = 'FILL OUT BOOK INFORMATION'
					$('#modalSubtitle')[0].innerText = "Fill out the fields that you want to keep track of in our system below."
					populateFields('#enter-modal', defaultFields)
					$('#enter-modal').modal('show')
			});

			let _isScannerOn = false;
			$('#scannerBtn').click(
				function(event) {
					if (!_isScannerOn) {
						startScanner();
						_isScannerOn = true;
					} else {
						closeScanner()
						_isScannerOn = false;
					}
				}
			)

			Quagga.onDetected(function (result) {
				const detected = result.codeResult
				if (detected.format === "ean_13" && detected.code.slice(0, 3) === '978') {
					$('#modalContentContainer').html(`{% include '_entermodal_loading.html' %}`)
					$('#enter-modal').modal('show')
					$.get('/lookup/' + result.codeResult.code
					).done(function(response) {
						$('#modalContentContainer').html(`{% include '_entermodal_loaded.html' %}`)
						populateFields('#enter-modal', response)
					}).fail(function() {
						console.log('Something wrong')
					});
				closeScanner()
				_isScannerOn = false;
				} else {
					console.log(`Invalid ISBN detected: ${detected.code}. Resuming...`)
				}
			});
		});

		function populateFields(modalElem, data) {
			const modal = $(modalElem)
			let cover_url = "{{ url_for('static', filename='nocover.jpg')}}"
			if (data.cover !== '') {
				cover_url = data['cover']
			}
			data['number_of_copies'] = 1
			modal.find('#cover_container').html(`<img width='200px' src="${cover_url}">`)
			for (let key in data) {
				modal.find('#' + key)[0].value = data[key];
			}
		}

		function startScanner() {
			$('#camera_container').empty()
			$('#scannerBtn').children()[1].textContent = "CLOSE SCANNER"
			Quagga.init({
				inputStream: {
					name: "Live",
					type: "LiveStream",
					target: document.querySelector('#camera_container'),
					constraints: {
						width: 450,
						height: 286,
						facingMode: "environment"
					}
				},
				locate: false,
				decoder: {
					readers: [
						"ean_reader",
						"upc_reader"
					]
				}
			}, function(err) {
				if (err) {
					console.log(err);
					return
				}
				Quagga.start();
			});
		}

		function closeScanner() {
			Quagga.stop()
			$('#scannerBtn').children()[1].textContent = "SCAN VIA CAMERA"
			$('#camera_container').html("<img width='450px' src='{{ url_for('static', filename='isbn_ex.png') }}''>")
		}

	</script>
{% endblock %}


{% block app_content %}
<div class="col-lg-8">
	<div style="margin-bottom: 10px; margin-left: -2em">
		<div id="headerTitle">SCAN BOOKS</div>
		<div id="headerSubtitle">{{ num_books }} ENTER A 10 OR 13 DIGIT ISBN</div>
	</div>
	<div class="row justify-content-between align-items-top">
		<div id="camera_container" class="col-lg-6">
			<img width="450px" src="{{ url_for('static', filename='isbn_ex.png') }}">
		</div>
		<div class="col-lg-5 mt-5">
			<div class="row" style="margin-bottom: 2em;">
				<button id="scannerBtn" class="btn btn-flat mb-3 row justify-content-between">
					<i class="bi bi-webcam-fill"></i> <span id="scannerBtnText"> SCAN VIA CAMERA</span>
				</button>
				<div class="strike">
					<span>OR</span>
				</div>
				<form class="form form-horizontal form_label" id="lookUpForm">
	
					<div class="row">
						<label for="name" class="form-label col-sm-2 control-label">ISBN</label>
					</div>
	
					<div class="row mb-3">
						<div class="col-lg-9">
							{{ g.lookUpForm.isbn(class='form-control') }}
							{% for error in g.lookUpForm.isbn.errors %}
								<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</div>
						<div class='col-auto'>
							<button type=submit class="btn btn-flat btn-sm">Look Up</button>
						</div>
					</div>
				</form>

				<div class="strike">
					<span>OR</span>
				</div>

				<div class="row justify-content-between my-3">
					<div class="col-sm-4" style="font-family: 'Barlow', sans-serif;
					color: grey;
					letter-spacing: 0.1em;">NO ISBN? </div>
					<button id='manual-button'class="btn btn-flat btn-sm mb-3 col-sm-8">
						ENTER INFO MANUALLY
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


{% include '_entermodal.html' %}

{% endblock %}